# history files
.Rhistory
.Rapp.history

# Rcheck files
rutils.Rcheck/
# Example code in package build process
*-Ex.R

# RStudio files
# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.Rproj.user
.Rproj.user/
.httr-oauth
inst/doc
